# Data files - too large for GitHub, can be regenerated
raw_data/
outputs/
processed_data\response_areas_final.geojson
processed_data\response_areas_with_demographics.geojson

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
